body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f8f8f8;
}

a {
  color: white;
}


#top-navbar {
  color: white;
  font-weight: 700;
  background-color: #3b5998;
}

#top-form-left {
  margin-left: 10%;
}

#top-form-right {
  margin-right: 10%;
}

.input-group .form-control {
  width: 40vw;
}

.form-inline .media.align-items-center .media-body span {
  padding-right: 1rem;
  border-right: 1px solid black;
}

#account-profile {
  border-radius: 50%;
}

.post-body {
  border: 0;
  width: 100%;
}

.card-header {
  background: white;
  border-bottom: none;
}

.card-body {
  padding: 0;
}

.card-body p {
  padding: 0.75rem 1.25rem;
}

.carousel {
  height: 100%;
  display: flex;
}


.carousel-inner {
  align-items: center;
  display: flex;
}

#carouselExampleIndicators {
  height: 200px;
}



/* setting for post to timeLine */

.post-timeline {
  display: flex;
  flex-direction: column-reverse;
}