.jumbotron {
    width: 90%;
    margin: auto;
    text-align: center;
}

.display-4 {
    margin-bottom: 1.6rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.m {
    margin: 0.8rem;
}

.img-thumbnail {
    width: 300px;
    height: 300px;
}

/* =============some animation in page================== */

.image-div  {
    position: relative;
    display: block;
}

.image-word {
    position: absolute;
    top: 45%;
    left: 35%;
    color: white;
    opacity: 0;
    transition: .5s ease;
}

.image-div:hover .image-word {
    opacity: 0.8;
}

